.advantages {
  background-color: #f2f2f2;
  text-align: center;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages__head {
  font-size: 18px;
  font-weight: 700;
  line-height: 10px;
  color: #000000;
  margin: 0;
}

.advantages__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
  margin: 0;
  padding-bottom: 35px;
  padding-top: 20px;
}

.advantages__list {
  list-style: none;
  margin: 0 auto;
  width: 280px;
  min-height: 465px;
  padding: 60px 0 230px;
  background: url("../img/iphone-screen-mobile@1x.png") no-repeat 50% 109%;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advantages__list {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px 320px;
  }
}

@media (min-width: @tablet-width) {
  .advantages {
    display: flex;
    flex-direction: row-reverse;
  }

  .advantages__list {
    width: 620px;
    padding-left: 30px;
    text-align: left;
    padding-bottom: 0;
    align-items: flex-end;
    min-height: 425px;
    padding-top: 60px;
    background: url("../img/iphone-screen-3-tablet@1x.png") no-repeat 5% 83%;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__list {
      background-image: url("../img/iphone-screen-3-tablet@2x.png") no-repeat 5% 83%;
      background-size: 268px 471px;
    }
  }

  .advantages__item {
    padding-left: 295px;
    margin-bottom: 5px;
    width: 320px;
  }

  .advantages__item:nth-child(3) {
    margin-top: 8px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: none;
    width: 940px;
    margin: 0;
    padding: 0;
    margin-right: 70px;
  }

  .advantages__head {
    width: 230px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    color: #000000;
    margin: 0 auto;
    padding-bottom: 25px;
    text-align: center;
  }

  .advantages__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #283645;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: 240px;
  }

  .advantages__item {
    padding: 358px 0 0 60px;
    background: url("../img/iphone-screen-1-desktop@1x.png") no-repeat 175% 0;
    margin: 0;
  }

  .advantages__item:nth-child(2) {
    background: url("../img/iphone-screen-2-desktop@1x.png") no-repeat 210% 0%;
    margin: 0;
  }

  .advantages__item:nth-child(3) {
    background: url("../img/iphone-screen-3-desktop@1x.png") no-repeat 210% 0;
    margin: 0;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .advantages__item {
      background-image: url("../img/iphone-screen-1-desktop@2x.png") no-repeat 175% 0;
      background-size: 292px 302px;
      margin: 0;
    }

    .advantages__item:nth-child(2) {
      background: url("../img/iphone-screen-2-desktop@2x.png") no-repeat 210% 0%;
      background-size: 292px 302px;
      margin: 0;
    }

    .advantages__item:nth-child(3) {
      background: url("../img/iphone-screen-3-desktop@2x.png") no-repeat 210% 0;
      background-size: 292px 302px;
      margin: 0;
    }
  }
}
