.banner-main {
  background:
    url("../img/iphone-hand-mobile@1x.png") no-repeat,
    url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-color: #1d2631;
}

.banner-main__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 300px;
}
