.download-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: white;
  text-decoration: none;
  padding: 16px 34px;
  margin: 0 auto;
  border: 3px solid #ffffff;
  border-radius: 50px;
}

.download-button:hover {
  color: #d22856;
  background-color: #ffffff;
}

.download-button:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .download-button {
    padding: 15px 45px;
  }
}

@media (min-width: @desktop-width) {
  .download-button {
    font-size: 21px;
    padding: 15px 30px;
  }
}
