.field-checkbox {
  position: relative;
  display: block;
  margin-bottom: 52px;
  margin-left: 10px;

  &:last-child {
    margin-bottom: 47px;
  }
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__label {
  margin-left: 80px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
}

.field-checkbox__label::before {
  position: absolute;
  top: -4px;
  left: 10px;
  display: block;
  width: 35px;
  height: 35px;
  content: "";
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}

@media (min-width: @tablet-width) {
  .field-checkbox {
    position: relative;
    display: block;
    margin-bottom: 52px;
    margin-left: 50px;
  }

  .field-checkbox__label {
    margin-left: 66px;
  }
}
