.gallery {
  padding-top: 50px;
}

.gallery__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gallery__panorama {
  margin: 0 auto;
  position: relative;
}

.gallery__panorama::before {
  position: absolute;
  top: 0;
  right: 20px;
  z-index: 2;
  display: block;
  padding: 6px 20px;
  content: "панорама дня";
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #d22856;
}

.gallery__panorama-post {
  margin: 0 20px 20px 20px;
  width: 280px;
  background-color: #f2f2f2;
  min-height: 190px;
}

.gallery__panorama-pic {
  width: 100%;
}

.gallery__post {
  background-color: #f2f2f2;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
  min-height: 150px;
}

.gallery__author {
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  color: #283645;
  margin: 0 0 0 17px;
  padding-top: 15px;
}

.gallery__text-time {
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
  color: #283645;
  text-transform: uppercase;
}

.gallery__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #283645;
  margin: 0 17px;
}

.gallery__likes {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #d22856;
  margin: 0 0 0 20px;
  padding: 0;
  text-transform: uppercase;
}

.gallery__item {
  width: 280px;
  margin: 0 auto;
}

.gallery__image {
  display: flex;
  justify-content: center;
}

.gallery__image-pic {
  width: 280px;
}

.gallery__image--panorama {
  display: flex;
  justify-content: center;
}

.gallery__like-button {
  width: 13px;
  height: 12px;
  border: none;
  padding: 0;
  overflow: hidden;
  background: url("../img/icon-heart.svg") no-repeat top left;
  background-size: 13px 12px;
  outline: none;
}

.gallery__like-wrapper {
  display: flex;
  align-items: center;
  margin-left: 17px;
  margin-bottom: 25px;
  margin-top: 20px;
}

@media (min-width: @tablet-width) {
  .gallery {
    width: 660px;
    padding: 0;
    margin: 0 auto;
  }

  .gallery__panorama {
    width: 660px;
    margin: 0 auto;
    padding: 0;
  }

  .gallery__panorama-post {
    width: 620px;
    margin: 0 auto;
    background-color: #f2f2f2;
    min-height: 120px;
  }

  .gallery__panorama-image {
    width: 660px;
    text-align: center;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .gallery__post {
    width: 300px;
    margin: 0 auto;
    padding: 0;
  }

  .gallery__image {
    width: 300px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .gallery__item {
    padding-top: 5px;
    width: 300px;
    margin-right: 0;
    margin-left: 0;
  }

  .gallery__image-pic {
    width: 300px;
  }

  .gallery__likes {
    padding: 0;
  }

  .gallery__author {
    margin-bottom: 10px;
  }

  .gallery__like-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-right: 30px;
    margin-left: 9px;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    width: 960px;
    padding: 0;
    margin: 0 auto;
  }

  .gallery__image--panorama {
    margin: 0 auto;
    width: 100%;
    display: flex;
  }

  .gallery__panorama {
    width: 960px;
    margin: 0;
    padding: 0;
  }

  .gallery__panorama-post {
    width: 940px;
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 0;
    min-height: 95px;
  }

  .gallery__list {
    width: 940px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .gallery__post {
    width: 300px;
    margin: 0 auto;
    margin-right: 20px;
    padding: 0;
  }

  .gallery__image {
    width: 300px;
    padding: 0;
    margin: 0;
  }

  .gallery__likes {
    padding: 0;
  }

  .gallery__author {
    margin-bottom: 10px;
  }

  .gallery__item {
    padding-top: 25px;
  }
}
