.index-slogan {
  background-color: white;
}

.index-slogan__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  line-height: 1.23;
  text-align: center;
  margin: 0;
  padding-top: 40px;
}

.index-slogan__subtitle {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  line-height: 1.23;
  text-align: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 40px;
}

@media (min-width: @tablet-width) {
  .index-slogan__text {
    width: 590px;
    font-size: 40px;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 50px;
  }

  .index-slogan__subtitle {
    display: block;
    width: 400px;
    font-size: 40px;
    font-weight: 300;
    margin: 0 auto;
    padding: 0 0 30px 0;
  }
}

@media (min-width: @desktop-width) {
  .index-slogan__text {
    width: 820px;
    font-size: 50px;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 70px;
  }

  .index-slogan__subtitle {
    width: 420px;
    font-size: 50px;
    font-weight: 300;
    margin: 0 auto;
  }
}
