.index-slogan {
  background-color: white;
}

.index-slogan__text {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  text-align: center;
  margin: 0;
  padding-top: 45px;
}

.index-slogan__text:last-child {
  padding-bottom: 45px;
}

@media (min-width: @tablet-width) {
  .index-slogan__text {
    width: 620px;
    font-size: 40px;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 55px;
  }

  .index-slogan__text:last-child {
    width: 330px;
    margin: 0 auto;
    line-height: normal;
    padding-bottom: 45px;
    padding-top: 15px;
  }
}

@media (min-width: @desktop-width) {
  .index-slogan__text {
    width: 820px;
    font-size: 50px;
    font-weight: 300;
    margin: 0 auto;
    padding-top: 70px;
  }

  .index-slogan__text:last-child {
    width: 450px;
    margin: 0 auto;
    line-height: normal;
    padding-bottom: 45px;
    padding-top: 15px;
  }
}
