.inner-banner {
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
}

.inner-banner__text {
  font-size: 24px;
  font-weight: 300;
  line-height: auto;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 90px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .inner-banner {
    width: 660px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
  }

  .inner-banner__text {
    width: 240px;
  }
}

@media (min-width: @desktop-width) {
  .inner-banner {
    width: 1200px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;
  }

  .inner-banner__text {
    width: 440px;
  }
}
