.page-header {
  background-color: #283645;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
  margin: 0;
}

.page-header__logo {
  padding: 0;
  margin: 0 0 0 20px;
  fill: #ffffff;

  &:hover .page-header__logo-mobile {
    fill: #d22856;
  }

  &:active .page-header__logo-mobile {
    opacity: 0.3;
    fill: #ffffff;
  }
}

.page-header__menu-toggle {
  outline: none;
  border: none;
  width: 50px;
  height: 25px;
  display: none;
}

.page-header__menu-toggle:hover {
  fill: #d22856;
}

.page-header__menu-toggle:active {
  fill: #d22856;
  opacity: 0.3;
}

.page-header__menu-burger {
  display: none;
}

.page-header__logo-tablet {
  display: none;
}

.page-header__logo-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 40px 20px;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-tablet {
    display: block;
  }

  .page-header__logo-desktop {
    display: none;
  }

  .page-header__logo {
    padding: 0;
    margin: 0 0 0 20px;
    fill: #ffffff;

    &:hover .page-header__logo-tablet {
      fill: #d22856;
    }

    &:active .page-header__logo-tablet {
      opacity: 0.3;
      fill: #ffffff;
    }
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-tablet {
    display: none;
  }

  .page-header__logo-mobile {
    display: none;
  }

  .page-header__logo-desktop {
    display: block;
  }

  .page-header__logo {
    padding: 0;
    margin: 0 0 0 20px;
    fill: #ffffff;

    &:hover .page-header__logo-desktop {
      fill: #d22856;
    }

    &:active .page-header__logo-desktop {
      opacity: 0.3;
      fill: #ffffff;
    }
  }

  .page-header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .page-header__wrapper {
    justify-content: flex-start;
    margin-left: 130px;
    padding: 0;
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;
  }

  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 5px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
