.page-footer {
  background-color: #ffffff;
}

.page-footer__copyright-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #283645;
  padding: 0;
  margin: 0;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.page-footer__logo:hover path,
.page-footer__logo:focus path {
  fill: #d22856;
}

.page-footer__logo:active path {
  opacity: 0.3;
}

.page-footer__copyright-link {
  padding: 0;
  margin: 0 20px 0 15px;
}

.page-footer--no-mobile {
  display: none;
}

.page-footer__copyright-link path {
  fill: #d22856;
}

.page-footer__copyright-link:hover path,
.page-footer__copyright-link:focus path {
  fill: #283645;
}

.page-footer__copyright-link:active path {
  opacity: 0.3;
}

.page-footer__copyright {
  margin: 3px 0 0 20px;
}

@media (min-width: @tablet-width) {
  .page-footer__mobile {
    display: block;
  }

  .page-footer {
    padding: 0;
    margin: 0 auto;
    width: 620px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .page-footer__social {
    margin: 0 auto;
  }

  .page-footer__copyright {
    margin-top: 35px;
  }

  .page-footer__logo {
    padding: 0;
    margin: 0;
  }

  .page-footer__logo-image {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 940px;
    padding-top: 20px;
  }

  .page-footer__copyright-text {
    font-size: 18px;
  }

  .page-footer__social {
    margin: 0 auto;
  }
}
