.page-header {
  background-color: #283645;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    width: 150px;
  }
}
