.page-header {
  background-color: rgba(30, 54, 69, 0.7);
  position: relative;
  top: 65px;
  z-index: 1;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    margin-left: 65px;
  }

  .page-header {
    padding-bottom: 15px;
    z-index: 3;
    position: relative;
    top: 105px;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-around;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo-image {
    width: 150px;
  }
}
